<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CreationDate</key>
	<date>2016-04-02T16:57:47Z</date>
	<key>PrivateProperties</key>
	<dict>
		<key>DropboxSyncDates</key>
		<array>
			<date>0000-12-30T00:00:00Z</date>
			<string></string>
		</array>
		<key>DropboxSyncDates4plist</key>
		<array>
			<date>0000-12-30T00:00:00Z</date>
			<string></string>
		</array>
	</dict>
</dict>
</plist>
